.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign Up
        .panel-body
          = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = f.input :username, input_html: { required: true }, hint: 'Es como te visualizaran los otros usuarios, no es tu nombre real'
            = f.input :email, input_html: { required: true }
            = f.input :name, input_html: { required: true }, hint: 'Este es tu nombre completo'
            = f.input :password, input_html: { required: true }
            = f.input :password_confirmation, input_html: { required: true }
            - Feature.with(:recaptcha) do
              = recaptcha_tags
            %p.text-right
              = f.action :submit, as: :button, label: 'Registrar', button_html: { class: 'btn btn-success' }

          = render partial: 'devise/shared/openid'
          = render partial: 'devise/shared/help'
